/* reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

a, button {
  text-decoration: none;
  color: inherit;
  -webkit-tap-highlight-color: transparent; /* supprime surbrillance sur mobile */
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: black;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.logo img {
  width: 6rem;
  height: auto;
}

.nav-links {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.nav-links a {
  font-size: 0.9rem; 
}

.nav-links a:hover {
  color: orange;
}

/* boutons */
.btn {
  margin-top: 3rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  border: 2px solid orange;
  color: orange;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: orange;
  color: black;
  box-shadow: 0 0 10px orange;
}

/* about */
.img-pp {
  width: 70%;
  height: auto;
  border-radius: 10px;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  padding: 5rem 2rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  padding-top: 1.5rem;
  padding-bottom: 3rem;
}

h2 {
  padding-bottom: 1.5rem;
}

/* projects */
.projects {
  padding: 0 1rem 5rem;
}

.projects h2 {
  padding: 9rem 0 2rem 4rem;
  margin: 0 auto;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.project-card {
  background-color: #111;
  border: 2px solid transparent;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease;
}

.project-card a {
  color: orange;
}

.project-card:hover {
  border: 2px solid orange;
  box-shadow: 0 0 10px orange;
}

.project-card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  max-height: 300px;
}

.project-description {
  margin-top: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* modal */
.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 9999;
  display: none;
}

.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #111;
  padding: 2rem;
  border-radius: 10px;
  border: 2px solid orange;
  text-align: center;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 0 20px rgba(255, 165, 0, 0.2);
}

.modal-content img {
  width: 100%;
  max-width: 300px;
  border-radius: 8px;
  padding-bottom: 1rem;
}

.modal-content .btn {
  margin: 2rem auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

#close-modal {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  color: white;
  font-size: 35px;
  transition: color 0.3s ease;
}

#close-modal:hover {
  color: orange;
}

/* footer */
footer {
  text-align: center;
  padding: 2rem;
  border-top: 3px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer p {
  margin-bottom: 1rem;
}

footer .socials {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

footer a:hover {
  color: orange;
}

/* responsive */
@media (min-width: 1024px) {
  .top {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    width: 100%;
    max-width: 1000px;
  }

  .pp {
    flex: 1;
  }
  .text {
    flex: 2;
  }

  .img-pp {
    width: 400px;
    height: auto;
  }

  .btn {
    flex-grow: 1;
  }
}
