* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: inherit;
}

body {
  background-color: black;
  color: white;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

/* Navbar */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: fixed;
  width: 100%;
  background-color: black;
  z-index: 10;
}

.logo img{
  width: 50%;
  height: auto;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.nav-links a:hover{
  color: orange;
}

.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
}

/* about */
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  padding: 0 1rem;
}


.cv-buttons {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.btn-cv {
  padding: 0.8rem 1.5rem;
  border: 2px solid ;
  color: orange;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease;
}

.btn-cv:hover {
  background-color: orange;
  color: black;
  box-shadow: 0 0 10px orange;
}


/* About */
.about {
  padding: 6rem 2rem 2rem 2rem;
  max-width: 800px;
  margin: 0 auto;
}

/* Projects */
.projects {
  padding: 4rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.project-card {
  background-color: #111;
  border: 2px solid transparent;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
}

.project-card:hover {
  border: 2px solid orange;
  box-shadow: 0 0 10px orange;
}

.project-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  margin-bottom: 0.5rem;
}



/* Footer */
footer {
  text-align: center;
  padding: 2rem;
  border-top: 1px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

footer a{
  font-weight: bold;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

footer a:hover{
  color: orange;
}

footer p{
  margin-bottom: 1rem;
}


/* Responsive
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: black;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 200px;
    padding-top: 5rem;
    gap: 2rem;
  }

  .nav-links.active {
    display: flex;
  }

  .burger {
    display: flex;
  }
} */
