/* reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a,
a:hover,
a:focus,
a:visited {
  text-decoration: none;
  color: inherit;
}
img {
  vertical-align: middle;
}

/* Style */
* {
  font-family: "Montserrat", sans-serif;
  color: #e7dfcc;
}

body {
  background: linear-gradient(to bottom, #3b1c00, #000);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0.4rem;
}

/* Style header */
header .img img {
  margin-top: 10vh;
  width: 50%;
  height: auto;
  border-radius: 20px;
}

header {
  margin-bottom: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

header h1 {
  margin-top: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

main {
  flex: 1;
}

/* Style caroussel */
.carrousel {
  width: 100%;
}

.carrousel h2 {
  margin-bottom: 1rem;
}

.carrousel div {
  padding: 1rem;
}

.carrousel ul {
  width: 100%;
  height: auto;
  padding: 20px 10px;
  display: flex;
  gap: 4vw;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

/* Suprime la barre de défilement horizontal */
.carrousel ul::-webkit-scrollbar {
  display: none;
}

.carrousel li {
  list-style-type: none;
  background-color: #363636;
  border-radius: 5px;
  padding: 1rem;
  flex: 0 0 90%; /* mobile-first full width */
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  min-height: 40vh; /* Empêche le conteneur d’être trop petit */
}

.carrousel li h3 {
  padding-bottom: 0.5rem;
  text-align: center;
}

.carrousel img,
.carrousel video {
  max-width: 100%;
  max-height: 250px; /* responsive */
  object-fit: contain; /* preserve ratio */
  display: block;
  margin: auto; /* center */
  border-radius: 6px;
}

/* faut mettre des boutton pour slid sur les coter dans le carrousel car l'utilisateur na pas forcément les gestes pour naviguer */

/* Style boutton */
button {
  border: 0px solid rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: black;
  padding-bottom: 2rem;
}

button a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

button .img {
  width: 5%;
  height: auto;
}

hr {
  height: 2px;
  background-color: #e7dfcc;
  border: none;
}

/* Style footer */
footer,
.img {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

footer .img img {
  width: 20%;
  height: auto;
}

footer div .img {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

footer .text_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

/* Desktop */
@media (min-width: 768px) {
  .carrousel li {
    flex: 0 0 60%;
  }
  .carrousel img,
  .carrousel video {
    max-height: 400px;
  }
}
